/* Sección Sobre Mi */
.about{
  background: var(--dark-gray);
  color: var(--text-white);
  padding: 3rem 3rem 5rem;
}
/* Títulos de las secciones */
.about__title, .skills__title, .academic__title, .experiencie__title, .contact__title{
  font-family: "Fugaz One", sans-serif;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 500;
  text-shadow: 0.5rem 0.5rem 1rem black;
  margin-bottom: 1.8rem;
}
.about__paragraph{
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.hobbies__title{
  font-family: "Fugaz One", sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
}
.hobbies__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
}
.hobbies__card{
  width: 8rem;
  height: auto;
  background: var(--secondary-red);
  box-shadow: inset -2rem -2rem 4rem #d51f35,
    inset 2rem 2rem 4rem #ff2743;  text-align: center;
  border-radius: 0.5rem;
  padding: 0.4rem;
}
.hobbies__img{
  width: 2rem;
}
.hobbies__name{
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 800;
  color: black;
}


/* Media query para tablet */
@media screen and (min-width: 600px){
  .about{
    padding: 3rem 10rem 5rem;
  }
  .about__title, .skills__title, .academic__title, .experiencie__title, .contact__title{
    font-size: 3.2rem;
    font-weight: 600;
  }
}

/* Media query para desktop */
@media screen and (min-width: 1024px){
  .about{
    padding: 4rem 16rem 7rem;
  }
  .about__paragraph{
    font-size: 1.8rem;
    font-weight: 600;
  }
}