/* Sección Contacto */
.contact{
  background: var(--dark-gray);
  color: var(--text-white);
  padding: 3rem 3rem 5rem;
}
.contact__subtext{
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
}
.contact__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.contact-fieldset{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: none;
}
.contact__input,.contact__textarea{
  width: 90%;
  font-family: "Roboto", sans-serif;
  color: black;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0.4rem 0.8rem;
  margin-bottom: 1rem;
}
.contact__input{
  height: 2.8rem;
}
.contact__textarea{
  height: 16rem;
}
.error-message{
  font-family: "Roboto", sans-serif;
  color: var(--primary-red);
  font-size: 1.6rem;
  font-weight: 500;
}
.contact__button{
  align-self: center;
  background: var(--primary-red);
  box-shadow: inset -2rem -2rem 4rem #c10424,
    inset 2rem 2rem 4rem #f1042e;
  width: 16rem;
  height: 4rem;
  border-radius: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
}


/* Media query para tablet */
@media screen and (min-width: 601px){
  .contact{
    padding: 3rem 6rem 5rem;
  }
  .contact__subtext{
    font-size: 1.8rem;
    font-weight: 500;
  }
  .contact__input,.contact__textarea{
    width: 48rem;
  }
}

/* Media query para desktop */
@media screen and (min-width: 1024px){
  .contact{
    padding: 4rem 10rem 7rem;
  }
  .contact__subtext{
    font-size: 1.8rem;
  }
  .contact__box{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .contact__img{
    width: 40%;
    height: 34rem;
    border-radius: 0.8rem;
    object-fit: cover;
  }
  .contact__form{
    width: 50%;
  }
  .contact-fieldset{
    align-items: start;
  }
  .contact__input,.contact__textarea{
    width: 100%;
  }
  .contact__button:hover{
    transform: scale(1.1);
    box-shadow: 0.5rem 0.5rem 0.5rem black;
  }
}