/* Sección Experiencia */
.experiencie{
  background: var(--primary-gray);
  color: var(--text-white);
  padding: 3rem 1rem 3rem;
}
.experience__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experiencie__box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
  border-radius: 0.8rem;
  box-shadow: inset -1rem -1rem 2rem #11121a,
    inset 1rem 1rem 2rem #45486a;
  padding: 3rem 2rem;
  gap: 1rem;
  margin-bottom: 4rem;
}
.experiencie__img{
  width: 100%;
  height: auto;
}
.experiencie__img__capture{
  width: 100%;
  height: auto;
  border-radius: 1rem;
  object-fit: cover;
  margin-bottom: 0.8rem;
}
.experience__info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experiencie__name{
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 0.6rem;
}
.experiencie__text{
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
}
.experiencie__buttons{
  display: flex;
  justify-content: space-evenly;
}
.experiencie__button--repo, .experiencie__button--demo{
  align-self: center;
  width: 12rem;
  height: 4rem;
  border-radius: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}
.experiencie__button--repo{
  background: var(--primary-red);
  box-shadow: inset -2rem -2rem 4rem #c10424,
    inset 2rem 2rem 4rem #f1042e;
  font-weight: 500;
}
.experiencie__button--demo{
  border: solid 0.2rem var(--primary-red);
  color: var(--primary-red);
  font-weight: 900;
}


/* Media query para tablet */
@media screen and (min-width: 601px){
  .experiencie__box{
    width: 70%;
    padding: 4rem;
  }
  .experiencie__name{
    font-size: 2.8rem;
    font-weight: 800;
  }
  .experiencie__text{
    font-size: 1.8rem;
  }
  .experiencie__buttons{
    justify-content: center;
    gap: 3rem;
  }
  .experiencie__button--repo, .experiencie__button--demo{
    width: 14rem;
    height: 5rem;
    font-size: 1.8rem;
  }
}

/* Media query para desktop */
@media screen and (min-width: 1024px){
  .experiencie{
    padding: 4rem 6rem 6rem;
  }
  .experiencie__box{
    width: 90%;
  }
  .experiencie__box:nth-child(odd){
    flex-direction: row;
    justify-content: space-around;
  }
  .experiencie__box:nth-child(even){
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .experiencie__img{
    width: 60rem;
  }
  .experiencie__button--repo:hover, .experiencie__button--demo:hover{
    transform: scale(1.1);
    box-shadow: 0.5rem 0.5rem 0.5rem black;
  }
  .experiencie__button--demo:hover{
    text-shadow: 0.5rem 0.5rem 0.5rem black;
  }
}