/* Sección Sobre Mi */
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-red);
  color: var(--text-white);
  width: 100%;
  height: 8rem;
  padding: 1.6rem 3.2rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.footer__title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
}
.footer__year {
  font-size: 1.4rem;
  font-weight: 600;
}

/* Media query para tablet */
@media screen and (min-width: 768px) {
  /* Agrega aquí tus estilos específicos para tablet */
}

/* Media query para desktop */
@media screen and (min-width: 1024px) {
  /* Agrega aquí tus estilos específicos para desktop */
}