/* Estilos de las secciones */
@import url(/css/navbar.css);
@import url(/css/hero.css);
@import url(/css/about.css);
@import url(/css/skills.css);
@import url(/css/academic.css);
@import url(/css/experience.css);
@import url(/css/contact.css);
@import url(/css/footer.css);

/* Paleta de colores */
:root {
  --primary-red: #d90429;
  --secondary-red: #ef233c;
  --text-white: #edf2f4;
  --secondary-gray: #8d99ae;
  --primary-gray: #2b2d42;
  --dark-gray: #1b1e30;
}
/* Tamaño de textos en rem */
html {
  font-size: 62.5%;
}
