/* Estilos de las secciones */
@import url(navbar.css);
@import url(hero.css);
@import url(about.css);
@import url(skills.css);
@import url(academic.css);
@import url(experience.css);
@import url(contact.css);
@import url(footer.css);

/* Paleta de colores */
:root{
  --primary-red: #d90429;
  --secondary-red: #ef233c;
  --text-white: #edf2f4;
  --secondary-gray: #8d99ae;
  --primary-gray: #2b2d42;
  --dark-gray: #1b1e30;
}
/* Tamaño de textos en rem */
html{
  font-size: 62.5%;
}
